@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&family=Roboto:ital,wght@1,500&display=swap');

body {
  background-color: #323232;
  /* font-family: 'Luckiest Guy', cursive; */
  font-family: 'Roboto', sans-serif;
}

.navbar-text {
  font-family: 'Nova Cut', cursive;
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: .5px;
  outline-color: #000;
  outline-width: 5px;
}