@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@500&family=Squada+One&display=swap');
* {
  /* font-family: 'Luckiest Guy', cursive; */
  font-family: 'Roboto', sans-serif;
}

/* .navbar {
  background-color: #242424;
} */

.blog-header-logo {
  font-family: active,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  letter-spacing: 4px;
  /* color: #686868; */
}
/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;

}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Squada One', cursive;
}

.card-header {
  font-family: 'Squada One', cursive;
  font-size: 2rem;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 3px 3px 3px 3px;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog {
  font-family: 'Roboto', sans-serif;
}
.blog-post {
  margin-bottom: 4rem;
  font-family: 'Roboto', sans-serif;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/** Footer **/
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: rgb(189, 189, 189);
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.center {
  display: block;
  width: 100%;
  position: 50% 50%;
}
#pageTop {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
.material-icons {
  font-family: 'Material Icons';
  font-size: 34px;  /* Preferred icon size */
  display: inline-block;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}