.myCanvas {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.myCanvas > hr {
  margin-right: 0;
  margin-left: 0;
}
.myCanvas > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.myCanvas > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.myCanvas > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.myCanvas > .myCanvas-header + .list-group,
.myCanvas > .list-group + .myCanvas-footer {
  border-top: 0;
}

.myCanvas-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.myCanvas-title {
  margin-bottom: 0.5rem;
}

.myCanvas-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.myCanvas-text:last-child {
  margin-bottom: 0;
}

.myCanvas-link:hover {
  text-decoration: none;
}
.myCanvas-link + .myCanvas-link {
  margin-left: 1rem;
}

.myCanvas-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.myCanvas-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.myCanvas-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.myCanvas-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.myCanvas-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}

.myCanvas-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.myCanvas-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}

.myCanvas-img,
.myCanvas-img-top,
.myCanvas-img-bottom {
  width: 100%;
}

.myCanvas-img,
.myCanvas-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.myCanvas-img,
.myCanvas-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.myCanvas-group > .myCanvas {
  margin-bottom: 0.75rem;
}
@media (min-width: 576px) {
  .myCanvas-group {
    display: flex;
    flex-flow: row wrap;
  }
  .myCanvas-group > .myCanvas {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .myCanvas-group > .myCanvas + .myCanvas {
    margin-left: 0;
    border-left: 0;
  }
  .myCanvas-group > .myCanvas:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .myCanvas-group > .myCanvas:not(:last-child) .myCanvas-img-top,
.myCanvas-group > .myCanvas:not(:last-child) .myCanvas-header {
    border-top-right-radius: 0;
  }
  .myCanvas-group > .myCanvas:not(:last-child) .myCanvas-img-bottom,
.myCanvas-group > .myCanvas:not(:last-child) .myCanvas-footer {
    border-bottom-right-radius: 0;
  }
  .myCanvas-group > .myCanvas:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .myCanvas-group > .myCanvas:not(:first-child) .myCanvas-img-top,
.myCanvas-group > .myCanvas:not(:first-child) .myCanvas-header {
    border-top-left-radius: 0;
  }
  .myCanvas-group > .myCanvas:not(:first-child) .myCanvas-img-bottom,
.myCanvas-group > .myCanvas:not(:first-child) .myCanvas-footer {
    border-bottom-left-radius: 0;
  }
}